PORT=5000
NODE_ENV=development
APP_ORIGINS=http://localhost:8081,http://localhost:19006,exp://localhost:8081
MONGO_URI=mongodb+srv://yassinedrira3_db_user:FUweqk0OZyS3rLao@glutenmobile.vxtr1qm.mongodb.net/glunity?appName=GlutenMOBILE
JWT_SECRET=glunity_access_super_secret_2025
REFRESH_SECRET=glunity_refresh_super_secret_2025
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dmdhy6rj8
CLOUDINARY_API_KEY=398584552674536
CLOUDINARY_API_SECRET=nEeIiIcbaQQbjZe8wg8_QAo5KrQ
